<h1>this is Edit Section</h1>
<%= form_with model: @product do |form| %>
  <%= form.text_field :name, placeholder: "title" %><br>
  <%= form.text_field :price, placeholder: "price" %><br>
  <%= form.submit "Edit",class:'submit-btn'%>
<% end %>
<button><%= link_to "Back", product_path,{:style =>"text-decoration:none"} %></button>