<% if flash[:notice] %>
  <div ><%= flash[:notice] %></div>
<% end %>
<h1>Show page</h1>
<ul>
	<li><%= @product.id %></li>
	<li><%= @product.name %></li>
	<li><%= @product.quantity %></li>
	<li><%= @product.price %></li>
	<%= link_to "Edit", edit_product_path, class:'update-btn'%>
	<%= link_to 'Remove', product_path, class:'delete-btn', data: {"turbo_method": :delete, "turbo_confirm": 'Are you sure?' } %> 
</ul>
<button><%= link_to "Back", root_path,{:style =>"text-decoration:none"} %></button>